<!-- <p>
  Padre:
  <input type="text" [(ngModel)]="imgParent">
</p>

<button (click)="toogleImg()">
  Toogle
</button>

<app-img
  *ngIf="showImg"
  (loaded)="onLoaded($event)"
  [img]="imgParent"
></app-img>
<br>
<hr> -->
<app-nav></app-nav>
<button (click)="createUser()">Create user</button>
<p>
  <a href="./assets/texto.txt" download>Descargar</a>
</p>
<p>
  <button (click)="downloadPDF()">Descargar PDF</button>
</p>
<app-product-list></app-product-list>

<!-- <router-outlet></router-outlet> -->
